.page {
    background-color: #fff;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content {
    margin: 0 auto;
    min-height: 100vh;
    max-width: 1280px;
    min-width: 320px;
    position: relative;
}