.restaurant {
    display: flex;
    flex-direction: column;
}

.name {
    text-align: center;
    color: #21201F;
    font-weight: 800;
    font-size: 28px;
    line-height: 31px;
    letter-spacing: -0.015em;
}

.reviews {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.title {
    margin: 0;
}